@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a, button {
  padding: 0;
  text-decoration: none;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html {
  min-height: 100vh;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444;
}

.page-main {
  flex-grow: 1;
}

.button {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

/* header */
.page-header {
  width: 1160px;
  margin: 0 auto;
  color: #000;
}

.main-nav {
  padding: 5px 60px 15px;
}

.logo {
  display: block;
  margin-bottom: 30px;
}

.nav-top-wrapper,
.nav-bottom-wrapper {
  display: flex;
  align-items: center;
}

.nav-top-wrapper {
  margin-bottom: 30px;
}

.search-form {
  width: 517px;
  margin-right: 26px;
}

.search-label {
  display: flex;
}
.search-button {
  margin-left: -2px;
  padding: 10px 56px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000;
  background-color: transparent;
}

.search-input {
  flex-grow: 1;
  padding: 10px 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000;
  background-color: transparent;
}

.user-links {
  flex-grow: 1;
  display: flex;
}

.user-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.user-link:nth-child(3) {
  margin-left: auto;
}

.user-link:not(:last-child) {
  margin-right: 26px;
}

.log-out {
  opacity: 0.3;
  margin-right: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 47px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-link {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

/* sections */
.section {
  margin-bottom: 70px;
}
.section-title {
  margin: 0;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

/* hero */
.slider-wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.slider-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider-content {
  padding-left: 40px;
  padding-bottom: 36px;
  align-self: flex-end;
}

.slider-slogan {
  margin-bottom: 29px;
}

.slider-description {
  margin: 0;
  margin-bottom: 51px;
}

.slider-card .button {
  margin-bottom: 49px;
}

.slider-table b {
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.slider-table tr td:first-child {
  padding-right: 20px;
}

.slider-pagination {
  position: absolute;
  right: 0;
  bottom: 173px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.slider-pagination-item {
  display: inline-block;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

.slider-pagination button {
  /* display: inline-block; */
  width: 12px;
  height: 12px;
  border-radius: 50% 50%;
  border: 2px solid black;
}

.slider-pagination-button-current {
  background-color: #000;
}
/* categories */
.categories-list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.categories-header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000;
}

.categories-item {
  width: calc((100% - 5 * 40px ) / 6);
}

.categories-link {
  text-decoration: none;
  color: inherit;
}

/* services */
.services-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 25%;
}

.services-service {
  padding: 72px 63px 72px 116px;
}

.service-name {
  margin-bottom: 36px;
}

.service-descr {
  margin: 0;
}
.services-special-offer {
  display: block;
  width: 1160px;
  margin: 0 auto;
  padding: 40px 0;
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f0f0f0;
}

/*  */
.about-contacts-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}



/* about */
.about {
  grid-column: span 3;
}
.about-item {
  color: #FFC700;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.about-heading {
  margin-bottom: 48px;
}

.about-descr, .about-list {
  margin: 0;
  margin-bottom: 30px;
}

.about-item > span {
  color: #000;
}


/* contacts */
.contacts {
  grid-column: span 3;
}
.contacts-subheading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #444;
}

.contacts-title {
  margin-bottom: 48px;
}

.contacts-descr,
.contacts-address:last-of-type{
  margin: 0;
  margin-bottom: 30px;
}
.contacts-address {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.contacts-address-link {
  color: #444;
}

.work-time {
  margin-bottom: 30px;
}

/* newsletter */
.newsletter {
  margin-bottom: 0;
  background-color: #f0f0f0;
  padding: 74px 133px 56px 147px;
}
.newsletter-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  grid-template-areas:
  "title title . descr descr descr"
  "form form form form . check"
  ;
}
.newsletter .section-title {
  grid-area: title;
}

.newsletter p {
  grid-area: descr;
}

.newsletter-form {
  grid-area: form;
}

.free-check {
  display: inline-block;
  grid-area: check;
}


/* page footer */
.page-footer {
  padding: 62px 140px 77px;
  background-color: #444;
  color: #fff;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
}

.page-footer .logo {
  margin-bottom: 35px;
}


.footer-top-wrapper,
.footer-bottom-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-top-wrapper {
  margin-bottom: 63px;
}

.footer-top-wrapper .address:first-child {
  width: 239px;
}

.footer-top-wrapper .address:last-child {
  margin-left: auto;
}

.page-footer .socials-list,
.page-footer .nav-list {
  display: flex;
  list-style: none;
}

.page-footer .nav-list {
  gap: 35px;
}

.page-footer .nav-link {
  color: #fff;
}

.page-footer .address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.page-footer .address-link {
  color: inherit;
}

.page-footer .socials-list {
  gap: 15px;
}

.page-footer .socials-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: 1px solid white;
}

.yellow-line {
  display: inline-block;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}
/* catalog breadcrumbs */
.catalog-top-container {
  width: 1160px;
  margin: 0 auto;
  padding: 35px 60px;
}

.catalog-top-container .section-title {
  margin-bottom: 16px;
}
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumbs-item {
  position: relative;
  color: #000;
  font-size: 16px;
}

.breadcrumbs-item:not(:last-child) a {
  padding-right: 22px;
}

.breadcrumbs-item:not(:first-child) a {
  padding-left: 16px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  opacity: 0.5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='7' fill='none'%3E%3Cpath d='m3.8 3.1-3-3C.6-.1.3-.1.1.1 0 .3 0 .7.1.9l2.6 2.6L.1 6.1c-.1.2-.1.5 0 .7.1.1.3.2.4.2.1 0 .3-.1.4-.1l3-3c0-.1.1-.3.1-.4 0-.1-.1-.3-.2-.4Z' fill='%23000'/%3E%3C/svg%3E");
}

/* catalog */
.contents {
  background-color: #f0f0f0;
}

.contents-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.devices {
  display: flex;
  flex-direction: column;
  width: 840px;
  background-color: #fff;
  padding-bottom: 78px;
}

.devices-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px 40px;
}
.goods-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 44px;
  padding: 70px 40px 0;
  gap: 40px
}

#goods-button {
  margin-inline: 40px;
  margin-bottom: 44px;
  padding: 18px;
  border: 3px solid #E5E5E5;
}
.minor-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000;
}


/* filter */
.filter {
  width: 320px;
  padding-left: 60px;
}

.filter .minor-title {
  padding: 20px 0;
  margin-bottom: 35px;
}

.filter-form fieldset {
  margin-bottom: 35px;
}

.filter-form label span {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.range-title {
  opacity: 0.3;
}
.filter-form legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000;
}

.select-item {
  color: #000;
}

.select-option {
  color: inherit;
  text-decoration: none;
}

/* catalog cards */
.good-card {
  display: flex;
  flex-direction: column;
}
.good-name,
.good-name-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;
  color: #000;
}

/* catalog pagination */
.pagination {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
}

.pagination-control {
  padding: 25px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination-link {
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.3;
  color: #444;
}
